body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    width: 90%;
}

.produtos, .depoimentos, .contato, .produto {
    padding: 20px;
    background: rgb(226, 218, 218);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.produto img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.produto p {
    flex: 1;
    text-align: right;
    word-wrap: break-word;
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
    width: 90%;
    text-align: center;
}
